@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="~/images/book.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />
        
    </div>
    <div id="component" class="container-fluid mb-3">
        <p class="text-center text-teal fs-6 fw-normal font-family-Roboto text-decoration-underline  m-0 px-3 ">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" style="color:black;">
                Continue Shopping
            </a>
        </p>
    </div>
</div> 

