<div class="row container justify-content-center  p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
		</div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
			</a>
		</div>
	</div>
    <br />
    <br />
    <div class=" col-11 mt-5 p-5  " style="border-radius:20px; box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
		        </tr>
	        </thead>
        </table> 
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}