@using BulkyWed.Views.Shared.Components.Searchbar;


		<div class="col-12 py-3 row justify-content-end">
			<div class="col-12 col-md-4 ">
				<form asp-controller="Home" asp-action="Index">
					<span class="btn-group">
						<input class="form-control" type="text" name="search" placeholder="search title" />
						<input class="btn p-1 ml-2" type="submit" value="Search" style=" background-color:#84C7AE;" />
					</span>
				</form>
		    </div>
		</div>
    
		<br />
