
.idStyle {
    background-color: #fff6f3;
    border-radius: 20px;
}

#registerSubmit {
    height: 59px;
    width: 255px;
    border-radius: 20px;
    background-color: #84C7AE;
}

#input {
    width: 400px;
    border-radius: 20px;
}

.lgbox {
    border-radius: 20px;
    height: 650px;
    width: 700px;
    background-color: #F6FBF9;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.form-floating > label {
    left: 20px;
}
