/* _content/BulkyWed/Areas/Customer/Views/Cart/Index.cshtml.rz.scp.css */
#box[b-4cex7li2xp] {
    display: flex;
    flex-direction: row;
}

@media (max-width:700px) {
    /* smartphones, iPhone, portrait 480x320 phones */


    #box[b-4cex7li2xp] {
        display: block;
        width:100%;
    }
}

#img[b-4cex7li2xp] {
    border-radius:20px; 
    height:80%; 
    width:100%;
}

#icon[b-4cex7li2xp] {
    display:flex;
    align-content:center;
    justify-content:center;
    width:20px;
    height:20px;
}



/* _content/BulkyWed/Areas/Customer/Views/Home/Detail.cshtml.rz.scp.css */
#box[b-i6ecbfokcb] {
    display: flex;
    flex-direction: row;

}

@media (max-width:700px) {
    /* smartphones, iPhone, portrait 480x320 phones */


    #img[b-i6ecbfokcb] {
        border-radius: 20px;
        height: 80%;
        width: 100%;
    }
    #box[b-i6ecbfokcb] {
        display: block;
    }
}

#img[b-i6ecbfokcb] {
    border-radius:20px; 
    height:80%; 
    width:100%;
}

#inbox[b-i6ecbfokcb] {
    height: 100%;
    width: 60%;
}



/* _content/BulkyWed/Areas/Identity/Pages/Account/Login.cshtml.rz.scp.css */

.idStyle[b-4jfsreb8vk] {
    background-color: #fff6f3;
    border-radius: 20px;
}

#login-submit[b-4jfsreb8vk] {
    height: 59px;
    width: 255px;
    border-radius: 20px;
    background-color: #84C7AE;
}
#input[b-4jfsreb8vk] {
    width: 400px;
    border-radius: 20px;
}

.lgbox[b-4jfsreb8vk] {
    border-radius: 20px;
    height: 550px;
    width: 500px;
    background-color: #F6FBF9;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.form-floating > label[b-4jfsreb8vk] {

    left: 20px;

}
/* _content/BulkyWed/Areas/Identity/Pages/Account/Register.cshtml.rz.scp.css */

.idStyle[b-3fwoltbfpd] {
    background-color: #fff6f3;
    border-radius: 20px;
}

#registerSubmit[b-3fwoltbfpd] {
    height: 59px;
    width: 255px;
    border-radius: 20px;
    background-color: #84C7AE;
}

#input[b-3fwoltbfpd] {
    width: 400px;
    border-radius: 20px;
}

.lgbox[b-3fwoltbfpd] {
    border-radius: 20px;
    height: 650px;
    width: 700px;
    background-color: #F6FBF9;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.form-floating > label[b-3fwoltbfpd] {
    left: 20px;
}
/* _content/BulkyWed/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n84dd6kkv4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n84dd6kkv4] {
  color: #0077cc;
}

.btn-primary[b-n84dd6kkv4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n84dd6kkv4], .nav-pills .show > .nav-link[b-n84dd6kkv4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n84dd6kkv4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n84dd6kkv4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n84dd6kkv4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-n84dd6kkv4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n84dd6kkv4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
